@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
    transition: 0.7s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #3a54bb;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* Ensure the navbar is on top of other elements */
}

.navbar .title {
    padding: 0 5px;
    color: #fff;

    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: 0.2s;
    margin: 0 15px;
    /* Adjust the spacing between navbar links */
}

.navbar li {
    list-style: none;
    display: inline;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 80px 0 40px 0;
}

.nav-links {
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #fff;
    padding: 30px;
    width: 90vw;
    max-width: 850px;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

input[type="file"] {
    border: 0 solid #ddd;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 15px;
    margin: 10px 0;
    font-size: inherit;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
}

input[type="file"]::file-selector-button {
    background-color: #3a54bb;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.upload-btn {
    display: flex;
    justify-content: center;
    margin: 25px 0 15px 0;
}

input[type="submit"] {
    background-color: #3a54bb;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

.know-more {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.know-more a {
    text-decoration: none;
    color: #3a54bb;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: 0.1s;
}

.know-more a:hover {
    border-bottom: 2px solid #3a54bb;
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin: 10px 0;
    }

    .nav-links {
        margin-top: 20px;
    }

    form {
        width: 85%;
        padding: 20px;
        margin-left: 30px;
    }

    input[type="file"] {
        padding: 10px;
    }

    input[type="file"]::file-selector-button {
        padding: 8px;
        margin: 0 5px 0 0;
    }

    #upload-btn {
        font-size: 20px;
        padding: 8px;
    }

    .know-more a {
        font-size: 18px;
    }

    label {
        font-size: 1.3rem;
    }

    body {
        text-shadow: 0px 1px 2px #bababa;
    }

    .header {
        margin: 30px 0;
    }

    .know-more {
        margin-top: 10px;
    }

    .upload-btn {
        margin: 15px 0 10px 0;
    }
}

/* .loader-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 0 ;
    padding: 30px 0;
}

#loading {
    display: none;

    width: 40px;
    height: 40px;

    margin: 10px 0;
    padding: 0;

    border-radius: 50%;

    border: 6px solid lightgray;
    border-top: 5px solid #3a54bb;

    animation: loading 1s linear infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */